Repository cycle/active-record, pull requests merged in 2024-05, with the labels that each got.

#3 ci: initial integrate workflow
  .github/workflows/integrate.yml
  composer-require-checker.json
  composer.json
  composer.lock
  config/yii-bootstrap.php
  infection.json.dist
  psalm.xml
  src/ActiveRecord.php
  src/Facade.php
  tests/app/Entity/User.php
  tests/src/ActiveRecordTest.php
  tests/src/Bridge/Spiral/Bootloader/ActiveRecordBootloaderTest.php
  tests/src/FacadeTest.php
  tests/src/ModelTest.php
Labels: type: enhancement, type: maintenance

#4 docs: updating badges
  README.md
  composer.json
Labels: type: enhancement

#6 ci: static analysis changes
  .github/workflows/integrate.yml
  README.md
  composer.json
  composer.lock
  phpstan.neon.dist
  psalm-baseline.xml
  psalm.xml
  tests/src/ActiveRecordTest.php
  tests/src/Bridge/Spiral/Bootloader/ActiveRecordBootloaderTest.php
  tests/src/DatabaseTestCase.php
  tests/src/FacadeTest.php
Labels: type: maintenance

#8 feat: allow to save entities
  infection.json.dist
  psalm-baseline.xml
  src/ActiveRecord.php
  src/Facade.php
  tests/app/Entity/User.php
  tests/src/ActiveRecordTest.php
  tests/src/DatabaseTestCase.php
Labels: type: enhancement, type: maintenance

#9 docs: update readme description
  README.md
  infection.json.dist
  psalm-baseline.xml
  src/ActiveRecord.php
  tests/src/ActiveRecordTest.php
Labels: type: enhancement, type: maintenance

#11 docs: add basic example
  Makefile
  README.md
  docs/README.md
Labels: type: enhancement

#12 feat: use custom exceptions
  src/Exceptions/ActiveRecordException.php
  src/Exceptions/ConfigurationException.php
  src/Facade.php
  tests/src/FacadeTest.php
Labels: type: enhancement, type: maintenance

#14 feat: set repository namespace from wayofdev to cycle
  .github/workflows/integrate.yml
  README.md
  composer.json
  composer.lock
Labels: type: enhancement, type: maintenance

#16 chore: refactor Facade, simplify exceptions range
  infection.json.dist
  src/ActiveRecord.php
  src/Facade.php
  tests/src/ActiveRecordTest.php
  tests/src/FacadeTest.php
Labels: type: maintenance

#17 feat: ActiveQuery PoC
  infection.json.dist
  psalm-baseline.xml
  src/ActiveRecord.php
  src/Contract/ActiveRecordException.php
  src/Exception/ConfigurationException.php
  src/Facade.php
  src/Query/ActiveQuery.php
  src/Repository/ActiveRepository.php
  tests/app/Entity/User.php
  tests/app/Query/UserQuery.php
  tests/src/ActiveRecordTest.php
  tests/src/FacadeTest.php
Labels: type: maintenance

#19 chore: minor updates
  .github/workflows/integrate.yml
  Makefile
  composer.lock
  psalm-baseline.xml
  src/Query/ActiveQuery.php
  tests/src/ActiveRecordTest.php
Labels: type: maintenance

#21 ci: test against mysql and pgsql
  .env.example
  .github/workflows/integrate-mysql.yml
  .github/workflows/integrate-pgsql.yml
  .github/workflows/integrate-sqlserver.yml
  .github/workflows/integrate.yml
  .gitignore
  Makefile
  composer.json
  docker-compose.yaml
  phpstan-baseline.neon
  psalm-baseline.xml
  src/Query/ActiveQuery.php
  tests/app/Entity/Identity.php
  tests/app/Entity/User.php
  tests/app/config/cycle.php
  tests/app/config/database.php
  tests/src/ActiveRecordTest.php
  tests/src/DatabaseTestCase.php
  tests/src/Loggable.php
  tests/src/Query/ActiveQueryTest.php
  tests/src/TestLogger.php
Labels: type: maintenance

#23 style: apply new, shared ExtendedPER2.0 standard
  .php-cs-fixer.dist.php
  composer.json
  composer.lock
  docker-compose.yaml
  src/ActiveRecord.php
  src/Contract/ActiveRecordException.php
  src/Exception/ConfigurationException.php
  src/Facade.php
  src/Repository/ActiveRepository.php
  tests/app/Bootloader/AppBootloader.php
  tests/app/Bootloader/SyncTablesBootloader.php
  tests/app/Entity/Identity.php
  tests/app/Entity/User.php
  tests/src/ActiveRecordTest.php
  tests/src/DatabaseTestCase.php
  tests/src/FacadeTest.php
  tests/src/Query/ActiveQueryTest.php
  tests/src/TestLogger.php
Labels: type: maintenance, type: bug

#24 docs: add initial CONTRIBUTING.md
  .github/CONTRIBUTING.md
  .github/assets/screenshot.png
Labels: type: documentation

#25 fix: use self accessor, as test classes are final
  composer.lock
  tests/src/ActiveRecordTest.php
  tests/src/Bridge/Spiral/Bootloader/ActiveRecordBootloaderTest.php
  tests/src/FacadeTest.php
  tests/src/Query/ActiveQueryTest.php
Labels: type: enhancement, type: maintenance
